@import "../../Assets/shared.scss";

.header {
  background: $color-primary;
  height: 100px;
  padding: 25px;
  text-align: center;
  @include boxshadow;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    height: 100%;
    z-index: 99;
    @include transition-ease;
  }
}

@include mobile {

  .header {
    img {
      height: 70%;
    }
  }
}