.pokesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  margin: 0 auto 25px;
  max-width: 990px;
  padding: 0 25px;

  h1 {
    text-align: center;
    background: $primary-gradient;
    padding: 5%;
    @include boxshadow;
  }

  .pokeContainer {
    @include boxshadow;
  }

  .poke {
    background: $white-gradient;
    padding: 25px;
    font-size: 1.8rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    border-bottom: 1px solid $color-black;

    ul {
      margin: 5px 0;
      align-self: center;
      text-align: center;
      li {
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid $color-black;
      }

      li:last-child {
        border: none;
      }
    }

    .buttonDark {
      color: $color-white;
      margin-top: 25px;
      font-size: 1.5rem;
      align-self: flex-end;
    }
  }
}

.newPoke {
  position: relative;
  color: $color-accent;
  
  &::before {
    content: "new";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(30deg);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $color-primary;
    background-color: $color-accent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    @include boxshadow;
  }
}

@include mobile {
  .pokesContainer {
    grid-template-columns: 1fr;
  }
}