.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 25px;
  font-size: 2.5rem;
  width: 100%;
  

  .nav-item {
    position: relative;
    margin: 0 5px;
    transform: translateZ(0);
    
    @include transition-ease;

    span {
      display: inline;
    }

    i:not(.fa-power-off):not(.fa-bell) {
      display: none;
    }
    
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: -10px;
      background: $color-black;
      height: 2px;
      @include transition-ease;
    }

    &:hover:not(.log-out)::before{
      left: 0;
      right: 0;
    }

    .alert {
      position: absolute;
      right: -10px;
      top: -5px;
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-primary;
      background-color: $color-accent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: grid;
      align-items: center;
    }
  }

  .log-out {
    margin-left: 15px;
    &:hover {
      color: $color-accent;
    }
  }

  .is-active.nav-item::before {
    left: 0;
    right: 0;
  }
}

@include mobile {
  .nav {
    .nav-item {
      span {
        display: none;
      }
      i:not(.fa-power-off):not(.fa-bell) {
        display: inline;
      }
    }
  }
}