@import "../../Assets/shared.scss";

.userContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.usersBooks {
  grid-row: span 2;
}

.creatorContainer {
  background-color: $color-primary;
  position: fixed;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px; 
  margin-left: -350px; 

  li {
    list-style: none;
  }
}

@include mobile {
  .creatorContainer {
    width: 90%;
    height: 80vh;
    margin-top: -40vh;
    margin-left: -45%;
  }
}
