$color-primary: #fff8cdff;
$color-accent: #c22b11ff;
$color-black: #212121ff;
$color-white: #f5f5f5ff;
$color-black-opaque: rgba(0, 1, 1, 0.2);
$white-gradient: linear-gradient(180deg, #E5E5E5 0%, rgba(255, 255, 255, 0) 100%);
$primary-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF8CD 100%);

a {
  text-decoration: none;

  &:visited {
    color: $color-black;
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin boxshadow {
  box-shadow: 1px 1px 3px $color-black;
}

@mixin dropshadow {
  filter: drop-shadow(1px 1px 3px $color-black);
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.textInputDark {
  background-color: $color-black-opaque;
  border: 2px solid $color-black;
  font-size: 2rem;
  display: block;
  padding: 5px;
  color: $color-black;
}

.buttonDark {
  font-size: 2rem;
  line-height: 1;
  color: $color-primary;
  background-color: $color-black;
  padding: 5px 10px;
  cursor: pointer;
}

.buttonDark:disabled {
  background-color: lightgray;
  border: none;
  cursor: auto;
}

.status {
  color: $color-accent;
  font-weight: bold;
}

.logInAndRegistration {
  background-color: $color-primary;
  max-width: 550px;
  margin: 45px auto;
  @include boxshadow;

  form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    * {
      margin: 3px;
    }

    input[type="submit"] {
      margin-top: 10px;
    }

    .textInputDark {
      width: 60%;
    }
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }

  a {
    font-size: 2rem;
  }
}

// pagination

.pagination {
  margin: 5px auto;
  width: fit-content;
  position: relative;
  
  input {
    text-align: center;
  }

  .buttonArrow {
    background-color: $color-black;
    color: $color-primary;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .prev {
    position: absolute;
    left: -30px;
  }

  .next {
    position: absolute;
    right: -30px;
  }
}

// books heading
.booksHeading {
  font-size: 3rem;
  text-align: center;
  line-height: 3;
  margin: 0;
  background-color: $color-primary;
  border-bottom: 1px solid grey;
  @include boxshadow;
}

// creationContainer

.creatorContainer {
  background: $color-white;
  @include boxshadow;
  position: fixed;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px; 
  margin-left: -350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px 2px;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  li {
    list-style: none;
  }

  button {
    margin: 0px 5px;
  }

  * {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// custom checkbox

.checkboxStyled {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkboxStyled:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: green;
}

@include mobile {
  .logInAndRegistration {
    max-width: 80%;
    margin: 70px auto;

    form {
      padding: 50px 10px;

      .textInputDark {
        width: 80%;
      }
    }
  }
  .creatorContainer {
    width: 90%;
    height: 80vh;
    margin-top: -40vh;
    margin-left: -45%;
  }
}

// Loading Animation https://projects.lukehaas.me/css-loaders/

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  display: inline-block;
  top: -2.5em;
  color: $color-accent;
  font-size: 0.4rem;
  position: relative;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}