$color-primary: #ffebc2ff;
$color-accent: #c9432cff;
$color-black: #212121ff;
$color-white: #f5f5f5ff;

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
  text-decoration: none;

  &:visited {
    color: $color-black;
  }
}

@mixin transition-ease {
    transition: all .5s ease-in-out;
}
  
@mixin boxshadow {
    box-shadow: 1px 1px 3px $color-black;
}

@mixin dropshadow {
  filter: drop-shadow(1px 1px 3px $color-black);
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}