// @import "./style/shared.scss"

body {
  font-family: sans-serif;
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

#root {
  min-height: 100vh;
  display: flex; 
  flex-flow: column nowrap;
  justify-content: space-between;
}

.headerContainer {
  height: 100px;
}

.footerContainer {
  height: 50px;
}

main {
  flex-grow: 1;
}

.textInputDark {
  background-color: rgba(0, 1, 1, 0.2);
  border: 3px solid black;
  font-size: 22px;
  color: black;
  display: block;
  padding: 5px;
  color: black;
}

.buttonDark {
  font-size: 22px;
  color: white;
  background-color: black;
  padding: 5px 10px;
}