@import-normalize;
@import "./Assets/shared";
@import "./App";
@import "./SharedComponents/Book.scss";
@import "./Layout/Nav/Nav";
@import "./Layout/Header/Header";
@import "./Layout/Footer/Footer";
@import "./Views/User/User";
@import "./Views/Search/Search";
@import "./Views/Pokes/Pokes";
@import "./Views/Basket/Basket";
@import "./Views/Conversations/Conversations";
@import "./Views/Conversations/ConversationsRecap";
@import "./Views/SingleConversation/SingleConversation";
@import "./Views/User/MessageCreator.scss";
@import "./Views/User//PokeCreator";
@import "./Views/Basket/BasketCreator";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}